<section class="event team-sec speaker set-relative" id="speaker">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/1']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/1.jpg" alt="" class="img-fluid">
                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Venkatesh Naidu Vaddi</h5>
                      <h6 class="post text-center ">Founder/CEO</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/2']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/2.jpg" alt="" class="img-fluid">
                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Srikanth Addagatla</h5>
                      <h6 class="post text-center ">Founder/CMD</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/3']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/3.jpg" alt="" class="img-fluid">
                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Vinod Naidu Vaddi</h5>
                      <h6 class="post text-center ">Principal Architect</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/4']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/4.jpg" alt="" class="img-fluid">

                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Dasardh Gutti</h5>
                      <h6 class="post text-center ">Principal Designer</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/5']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/5.jpg" alt="" class="img-fluid">
                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Jahangeer Pasha</h5>
                      <h6 class="post text-center ">Project Director</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/6']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/6.jpg" alt="" class="img-fluid">
                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Venkateswar Reddy</h5>
                      <h6 class="post text-center ">Marketing Head /HR</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/7']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/7.jpg" alt="" class="img-fluid">
                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Teja Gatti</h5>
                      <h6 class="post text-center ">Lead Architect</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 speker-container" [routerLink]="['/team/team-member/8']" routerLinkActive="active">
              <div class="text-center">
                  <div class="team-img">
                      <img src="assets/images/team/8.jpg" alt="" class="img-fluid">

                      <div class="overlay"></div>
                      <div class="social">
                          <ul>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-google center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void()">
                                      <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="employee">
                      <h5 class="e-name text-center">Lalitha Tammana</h5>
                      <h6 class="post text-center ">Assocaite Architect</h6>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
