<!-- about section Start-->
<section class="gym format" id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="text-center center-content">
                  <div class="about-img">
                      <div class="borders-around">
                          <div>
                              <div class="bg-black"></div>
                          </div>
                          <img src="assets/images/gym/l5.png" alt="" class="img-fluid format-img">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="center-text">
                  <div>
                      <div class="format-small-text">
                          <h6 class="font-primary borders-before"><span>our progress</span></h6>
                      </div>
                      <div class="format-head-text">
                          <h3 class="about-font-header gradient-text">about us</h3>
                      </div>
                      <div class="format-sub-text">
                          <p class="p-light about-para">
                            We are specialized in executing the projects on our own from beginning till the end as this will
                            increase the quality. Although it challenges us we are up for it. Our approach ensures of
                            covering all minute details and enables us to proudly say 100% customer satisfaction. 
                            We also took initiative to contract A-Z services required, from the best vendors available at 
                            affordable prices for our customers.
                          </p>
                          <p class="p-light about-para">
                            Our practice reflects our principles. We offer services ranging from survey, conceptual planning, 
                            municipal permissions, working drawings, structural designs, and infrastructural executions and
                            beautifying the environment etc.  
                          </p>
                      </div>
                     <!-- <a href="javascript:void(0)" class="btn btn-default primary-btn">read more</a>
                       --> 
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- about section end-->

