<section class="agency header" id="header">
  <app-title-serv></app-title-serv>
<!--Here Section Header-->
</section>
<!-- Nav Start-->

<header class="app2 loding-header nav-abs custom-scroll">

<div class="container">
  <div class="row">
      <div class="col">
        <nav class="fixed-top navbara" (scroll)="onWindowScroll($event);" style="padding-top:0px;padding-bottom:0px;">
            <a href="javascript:void()" class="logo-light d-inline-block m-r-auto"><img src="assets/images/logo/9.png" alt="" class="img-fluid"></a>
            <app-menu></app-menu>
        </nav>
      </div>
  </div>
</div>
</header>

<!--Entrance-->
<!--brand css start-->
<section class="saas2 brand">
  <div class="col-md-10 offset-md-1 col-12">
      <div class="container saas2-services">
          <div class="row">
              <div class="col-md-10 offset-md-1">
                  <div class="title">
                      <div class="main-title">
                          <h2>trusted us</h2>
                      </div>
                      <div class="sub-title">
                          <p class="sub-title-para">We believe we have created the most efficient SaaS landing page
                              for
                              your users.
                              Landing page with features that will convince you to use it for your SaaS business.</p>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <owl-carousel-o [options]="brandcarouselOptions" class="brand-slider">
                      <ng-container *ngFor="let brand of brands">
                          <ng-template carouselSlide class="item">
                              <a href="javascript:void(0)">
                                  <img [src]="brand.img" alt="" class="img-fluid">
                              </a>
                          </ng-template>
                      </ng-container>
                  </owl-carousel-o>
              </div>
          </div>
      </div>
  </div>
</section>
<!--brand css end-->

<section class="parallax-banner">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 p-0">
              <div class="full-banner" [ngStyle]="{'background-image': 'url(assets/images/ecommerce/full-banner.jpg)'}">
              </div>
          </div>
          <div class="container">
              <div class="banner-contain">
                  <div>
                      <h2>Creative Collection</h2>
                      <p> I must explain to you how all this mistaken idea of denouncing pleasure and praising
                          pain was born and I will give you a complete account of the system.</p>
                      <a class="btn btn-default primary-btn  radius-0 mt-3" href="javascript:void()">View all</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>